<% provide(:title, "Workout") %>
<h1><%= @workout.date %></h1>
<div>
  <p>Notes:</p>
  <blockquote>
    <p><%= @workout.notes %></p>
  </blockquote>
  <% @workout.exercise_records.each do |record| %>
    <div class="panel panel-default">
      <div class="panel-heading"><span class="h4"><%= record.exercise.name %></span> <span class="pull-right">volume: <%= record.volume %> </span></div>
      <table class="table table-hover">
        <tr>
          <th>
            Weight (max: <%= record.max_weight_set.weight if record.max_weight_set %> )
          </th>
          <th>
            Reps (total: <%= record.total_reps %> )
          </th>
        </tr>
        <% record.exercise_sets.each do |set| %>
          <tr>
            <td>
              <%= set.weight %>
            </td>
            <td>
              <%= set.reps %>
            </td>
          </tr>
        <% end %>
      </table>  
    </div>
  <% end %>
</div>
<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
