<h1>Workout (<%= @workout.date %>)</h1>
<div>
  <p>Notes:</p>
  <blockquote>
    <p><%= @workout.notes %></p>
  </blockquote>
  <% @workout.exercise_records.each do |record| %>
    <h3><%= record.exercise.name %></h3>
    <table class="table table-striped">
      <tr>
        <th>
          Weight
        </th>
        <th>
          Reps
        </th>
      </tr>
      <% record.exercise_sets.each do |set| %>
        <tr>
          <td>
            <%= set.weight %>
          </td>
          <td>
            <%= set.reps %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
