<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Exercise Log</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=<%= root_path %>>ExerciseLog</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <%= nav_link 'Workouts', workouts_path %>
	        <%= nav_link 'Exercises', exercises_path %>
	        <%= nav_link 'Users', users_path %>
        </ul>
	<ul class="nav navbar-nav navbar-right">
	  <%= render 'devise/menu/registration_items' %>
	  <%= render 'devise/menu/login_items' %>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->

  <div class="container">
    <%= bootstrap_flash %>
    <%= yield %>
    <hr>
    <%= render "/layouts/footer" %>
  </div>
</body>
</html>
